<!doctype html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Acme|Catamaran" rel="stylesheet">
<!--   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href='/static/css/flix2comics.css' rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script
  src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js"
  data-apikey="c2f4a83fbb63b9c09898191a3da3cabd"></script>
  <title>{%block title %} {% endblock %}</title>

</head>

<body>
  <div class="row">
  <div class="container-fluid">
      <div class="banner">
        <img src="/static/images/tremlab.jpg">
      </div>
      <div class="banner">
        <h1>built2break</h1>
      </div>
      <div class="banner">
        <h3>by tremlab</h3>
      </div>
      <div class="flashMsg">
        <ul>
            {% for message in get_flashed_messages() %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-1">
    </div>
    <div class="col-xs-12 col-md-10">
    {% block content %} 
            put your content here 
    {% endblock %}



  <div class="container">
    <div class="row">
      <div class="col-xs-offset-3">
        <footer>
          <h2>Special Thanks to:</h2>
            <p>Divide by zero</p>
        </footer>
      </div>
    </div>
  </div>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src='/static/js/flix2comics.js'></script>
</body>
</html>








