{% extends 'base.html' %}
{% block title %}built2break -  Welcome{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xs-12 col-md-3">
    </div>
    <div class="col-xs-12 col-md-6">
    <h2>Let's crash and burn and document ALL THE THINGS!!!</h2>

    <p><i>This site exists solely to explore error messages</i></p>

<div class="btn-group" role="group" aria-label="...">
  <p>Username
      <input type="text" name="user" id="username"><br>
          Can you handle it?
  <div id="handling">
    <input type="radio" name="handling" value="no" checked>No
    <input type="radio" name="handling" value="yes">Yes<br>
  </p>
  </div>
  <div id="rstage">
    <p>Release Stage:
      <select>
        <option value="production">production</option>
        <option value="development">development</option>
        <option value="staging">staging</option>
        <option value="monkeys">monkeys</option>
      </select>
      </p>
    </div>
    <br>
  <h3>Start clicking!</h3>
    <div id="python">
        <p>PYTHON ERRORS</p>
        
          <button type="button" class="btn btn-default" id="outOfIndexError">IndexError</button>
          <button type="button" class="btn btn-default" id="nameError">NameError</button>
          <button type="button" class="btn btn-default" id="typeError">Right</button>
    </div>
    <div id="javascript">
        <p>JAVASCRIPT ERRORS</p>
          <button type="button" class="btn btn-default">Left</button>
          <button type="button" class="btn btn-default">Middle</button>
          <button type="button" class="btn btn-default">Right</button>
    </div>

</div>


    </div>
    <div class="col-xs-12 col-md-3">
    </div>
</div>

{% endblock %}